@import '../../globalStyling/variables.less';

.hero-section {
    padding: 9.6rem @1colIn;
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: 3.2rem;
    align-items: center;

    .text-box {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-size: 1.6rem;

        .heading-box {
            display: flex;
            gap: 2.4rem;
            align-items: center;
            .shade(color, @primary, 50);

            .logo {
                width: 7.2rem;
                height: 7.2rem;
            }
        }

        .text {
            color: #4F5355;
            font-weight: 500;

            span {
                font-weight: bold;
                color: @secondary;
            }
        }

        .btn {
            width: 12.8rem;
        }
    }

    .image {
        width: 40rem;
        animation: robot 3s ease-in-out infinite;

        @rotation: 10deg;

        @keyframes robot {
            0% {
                transform: translateY(0) rotate(@rotation);
            }
            50% {
                transform: translateY(3.2rem) rotate(@rotation);
            }
            100% {
                transform: translateY(0) rotate(@rotation);
            }
            // 75% {
            //     transform: translateY(-3.2rem);
            // }
            // 100% {
            //     transform: translateY(0);
            // }
        }
    }
}

.instructions-section {
    .shade(background-color, @primary, 80);
    padding: 5.6rem 6.4rem;
    display: flex;
    gap: 1.6rem;

    .step-container {
        display: flex;
        align-items: center;
        gap: 1.6rem;

        .step-box {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
    
            .heading-box {
                .step {
                    font-size: 1.6rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    .shade(color, @primary, 30);
                }
    
                .heading {
                    .tint(color, @primary, 60);
                }
            }
    
            .image {
                width: 100%;
            }
        }
        
        .arrow {
            .tint(color, @primary, 20);
            transform: rotate(90deg);
            width: 4.8rem;
            height: 4.8rem;
            font-size: 4.8rem;
        }
    }

    .step-container:last-child {
        .arrow {
            display: none;
        }
    }
}

.symptoms-section {
    padding: 12.8rem @2colIn;

    .heading {
        .shade(color, @primary, 50);
        text-align: center;
    }

    .text {
        color: #4F5355;
        font-size: 1.6rem;
        text-align: center;
        margin-bottom: 3.2rem;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        .input-container {
            width: 100%;
            border: solid 0.1rem #23523D;
            padding: 2rem 2.4rem;
            background-color: #fff;

            .symptom-box {
                display: flex;
                flex-wrap: wrap;
                gap: 0.8rem;
                margin-bottom: 1.6rem;

                @colors: #22577a, #b87b42, #38a3a5, #57cc99, #7a4522, #80ed99, #a53a38;
                each(@colors, {
                    .symptom@{index} {
                        @color: @value;
                        .shade(background-color, @color, 10);
                        .tint(color, @color, 70);

                        .icon:hover, .icon:active {
                            .tint(color, @color, 90);
                        }
                    }
                });

                .symptom {
                    padding: 0.2rem 0.8rem;
                    display: flex;
                    align-items: center;
                    gap: 0.4rem;
                    font-size: 1.4rem;

                    .icon {
                        cursor: pointer;
                        width: 1.6rem;
                        height: 1.6rem;
                    }
                }
            }

            textarea {
                width: 100%;
                resize: none;
                font-size: 1.6rem;
                height: 6.4rem;
                font-family: @font-primary;
                border: none;
                &::placeholder {
                    font-family: @font-primary;
                }
            }
        }

        .btn {
            width: 100%;
            .shade(background-color, @primary, 60);
        }
    }
}